body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#youtube-list {
  width: 73%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38vh, 5fr));
  gap: 12px 28px;
  padding: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 47vh;
  height: 26.5vh;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

iframe:hover {
  transform: scale(1.05); /* Slightly zooms in */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}

@media (max-width: 1050px) and (min-width: 769px) { 
  #youtube-list {
    width: 93%;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 2fr));
    margin: 0 auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

iframe {
  width: 34vh;
  height: 20vh;
}
}

@media (max-width: 768px) and (min-width: 401px) {
  #youtube-list {
      width: 93%;
      grid-template-columns: 1fr; /* Single column for smaller screens */
      margin: 0 auto;
  }
  
  iframe {
      width: 100%; /* Make iframe responsive */
      height: 226px; /* Maintain aspect ratio */
  }
}

@media (max-width: 400px )and (min-width: 1px) {
  #youtube-list {
    width: 93%;
    grid-template-columns: 1fr; /* Single column for smaller screens */
    margin: 0 auto;
}

iframe {
    width: 100%; /* Make iframe responsive */
    height: 205px; /* Maintain aspect ratio */
}
}