section {
           margin-top: -450px;
           height: 100vh;
            width: 100%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #ffffff;
            background-color: #121212; /* Base dark background */
            /* Create the dotted background */
            background-image: 
                radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px); /* Dots pattern */
            background-size: 20px 20px; /* Dot size and spacing */
            background-position: center; /* Center the dot pattern */
            background-repeat: repeat; /* Repeat the dots pattern across the page */
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20%;
     transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Smooth transition */


  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #ffffff;
    text-align: center;
    margin-top: 1px;
    margin-left: 1px;
    transition: border-top-color 0.2s ease-in-out; /* Smooth transition */
  }

  .circle:hover {
    background-color: white; /* Change background to white */
  }

  .circle:hover .arrow {
    border-top-color: black; /* Change arrow to black */
  }


  
  @media (max-width: 968px) { 
    .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50%;
      }
      
      .arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid #ffffff;
        text-align: center;
        margin-top: 1px;
        margin-left: 1px;
      }

      section {

      }
  }

  /* 23.8" */
  @media (min-width: 1351px) and (max-width: 1900px) {
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #ffffff;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 15%;
    }
  }
