
.word-container {
    align-items: center; /* Ensure the text aligns vertically */
    padding-top: 18%;
    justify-content: center;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.word-container h1 {
    font-size: 65px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

#word {
    display: inline-block;
    transform: translateY(100%); /* Start off-screen below */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-size: 55px;
    font-weight: 500;
    color: rgb(220, 220, 220);
    text-shadow: 0px 0px 18px rgb(109, 109, 109);
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-color: red;
    -webkit-text-decoration-color: red;
}

#word.show {
    transform: translateY(0%); /* Slide into view */
    opacity: 1;
}

#word.hide {
    transform: translateY(-100%); /* Slide out to below */
    opacity: 0;
}

@media (max-width: 968px) {
    .word-container h1 {
        font-size: 49px;
    }
    #word {
        font-size: 40px;
    }

    .word-container {
        padding-top: 70%;
    }

}